[alias]
	
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch --all
	remotes = remote --verbose

# This is Git's per-user configuration file.
[user]
	name = Martin Palastanga
	# Email should be set per-machine using:
	# git config --global user.email "your-email@example.com"

[init]
	defaultBranch = main
