# This is Git's per-user configuration file.
[user]
	name = Martin Palastanga
	email = palastanga@gmail.com
# Please adapt and uncomment the following lines:
#	name = Martin Palastanga
#	email = palastanga@gmail.com
